<h1 class="text-center">Here is our Collection</h1>
<div class="container text-center vh-50 overflow-auto text-wrap">
  <% @restaurants.each do |restaurant| %>
    <div class="m-4 bg-dark bg-gradient">
      <h3 class="mt-4"><%= restaurant.name %></h3>
      <%= link_to "More Info", restaurant_path(restaurant.id) %>
    </div>
  <% end %>
</div>
